.quarto-title-block{
  padding: 2rem;
}


body{
  color: #008080;
}

#quarto-appendix{
  background-color: red;
  padding: 2rem;
}

.highlight{
  padding-inline: 1rem 2rem;
  background: palegoldenrod;
  color: black;
  border-radius: .3rem;
}
